
@media (max-width:992px){
    /* .menu-bar-ul li a{
        display: none;
    } */
    .top-bar {
        justify-content: center;
        padding-bottom: 20px;
    }
    .footer-bar-ul,
    .menu-icon{
        display: flex;
    }
 
    .overlay,
    #sidebar{
        display: block;
    }
    /* .footer-bar-ul li a {
       display: flex;
       justify-content: center;
       align-items: center;
    }
  */
  .footer-bar-ul  {
    display: flex;
}
.menu-bar-ul li a{
    display: none;
}
   
.footer-bar-ul li a{
    display: flex;
}


    .home-right-section {
        min-height: 438px;
    }
    .commun-hed.font-size-home-s br:nth-child(2){
        display: none;
    }

    /* .home-p-text{
        border-color:transparent;
        padding: 0;
        text-align: center;
    }
     */
    .gallery-item {
        width: 33.3% !important;
    }
    .commun-hed {
        text-align: center;
    }


    
  
    
}
@media (max-width:768px){
  .home-right-section {
    display: none;
  }
  .font-size-home-s{
    font-size: 3rem;
  }
  .home-p-text{
    font-size: 17px;
  }
  .font-size-s-hed{
    font-size: 28px;
  }
  .section-hedings p{
    font-size: 15px;
  }
  .teacher-bx a img {
    width: 90%;
  }
  .join-us-section{
    padding: 2.5rem 1.5rem 2.5rem 1.5rem;
  }
  .cus-btn{
    margin-left: 20px;
  }
  .footer-bar-ul li a{
    font-size: 16px;
  }
}

@media (max-width:576px){
    .top-bar-ul {
     display: none; 
    }
    .font-size-home-s{
        font-size: 2.5rem;
      }
      .home-p-text{
        font-size: 16px;
      }
      .font-size-s-hed{
        font-size: 24px;
      }
      .section-hedings p{
        font-size: 14px;
      }
      .teacher-bx a img {
        width: 90%;
        margin-left: 30px;
        border-radius: 10px;
      }
      .join-us-section{
        padding: 2rem 1rem 2rem 1rem;
      }
      .footer-bar-social{
        display: none;
      }
      .main-text-g h3{
        font-size: 15px;
      }
      .main-text-g span{
        font-size: 13px;
      }
      .teacher-bx h6{
        font-size: 16px;
        
      }
      .courses-bx{
        width: 90%;
        margin-left: 30px;
        border-radius: 5px;
      }
      .vbsukvbsurv{
        margin-left: 15px;
      }
      .wel-sec img.about-img-wel-sec{
        width: 100px;
      }
      .footer-top-bar-ul{
        display: flex;
        margin-bottom: 25px;
      }
      .menu-bar-ul li a::after{
        height: 2px;
      }
      .footer-blog-ul li .footer-blog-text p{
        font-size: 14px;
      }
      .footer-blog-ul li .footer-blog-text span .fa{
        font-size: 12px;
      }
      .footer-blog-ul li .footer-blog-text span{
        font-size: 13px;
      }
      .top-bar-ul .nlb .fa-icon-d-bx p{
        font-size: 12px;
      }
      .footer-blog-ul li .footer-blog-img img{
        width: 90%;
        height: 90%;
        border-radius: 5px;
      }
}
@media (max-width:360px){
    .courses-bx{
        width: 90%;
        margin-left: 20px;
      }
      .teacher-bx h6{
        font-size: 13px;
        
      }
      .teacher-bx a img {
        
        margin-left: 20px;
      }
      .join-us-section{
        padding: 2rem 1rem 2rem 1rem;
      }
    
}